<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion de Notas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gestion de Notas </h1>
        {% if session.get('usuario_id') %}
        <nav>
            {% if session.get('rol') == 'estudiante' %}
                <a href="{{ url_for('menu_estudiante') }}">Menu</a>
            {% elif session.get('rol') == 'profesor' %}
                <a href="{{ url_for('menu_profesor') }}">Menu</a>
            {% endif %}
            <a href="{{ url_for('logout') }}" class="logout">Cerrar sesion</a>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>TALLER - Docker</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>