{% extends "index.html" %}
{% block title %}Registrar Nota{% endblock %}
{% block content %}
<section style="position: relative;">
    <a href="{{ url_for('menu_profesor') }}" class="btn-volver-superior">← Volver</a>
    <div class="titulo-con-imagen">
        <h2>Registrar nota</h2>
        <img src="{{ url_for('static', filename='imagenes/cuaderno.png') }}" alt="Notas" class="icono-pequeno">
    </div>
    <div class="cuadro-formulario">
        <form id="form-registrar">
            <label for="estudiante">Estudiante</label>
            <select id="estudiante" required></select>

            <label for="materia">Materia</label>
            <select id="materia" required></select>

            <label for="periodo">Periodo</label>
            <input type="text" id="periodo" placeholder="2026-1" required>

            <label for="tipo_nota">Tipo de nota</label>
            <select id="tipo_nota" required>
                <option value="Parcial 1">Parcial 1</option>
                <option value="Parcial 2">Parcial 2</option>
                <option value="Seguimiento">Seguimiento</option>
                <option value="Examen Final">Examen Final</option>
            </select>

            <label for="porcentaje">Porcentaje</label>
            <input type="number" id="porcentaje" min="0.01" max="100" step="0.01" required>

            <label for="nota">Nota</label>
            <input type="number" id="nota" min="0" max="100" step="0.01" required>

            <button type="submit">Guardar</button>
        </form>
        <p id="mensaje"></p>
    </div>
</section>
{% endblock %}
